.header {
    padding: 20px 0;
    background-color: #355990;
    color: #ffffff;
    h1 {
      padding-left: 40px;
    }
}
.container {
    width: 900px;
    margin: 0 auto;
    .confirmation-container {
      background-color: #f0fcf3;
      padding: 20px 40px;
      margin: 20px;
      box-shadow: 0px 0px 2.5px 2.5px #efefef;
      .confirmation-header {
        color: #b1deb5;
        margin-top: 0;
      }
      .confirmation-description {
        margin: 0;
      }
    }
    .form-section {
      background-color: #ffffff;
      padding: 20px 40px;
      margin: 20px;
      box-shadow: 0px 0px 2.5px 2.5px #efefef;
      .form-header {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .form-header,
      .form-group label {
        color: #355990;
      }
      .form-header::after {
        content: ' ';
        display: block;
        border: 0.5px solid #a9a9a9;
        margin-top: 10px;
      }
  
      .form-group {
        margin: 15px 0;
        label {
          display: inline-block;
          width: 120px;
          text-transform: uppercase;
          font-size: 14px;
          .is-required {
            font-size: 5px;
            vertical-align: super;
            color: tomato;
          }
        }
        input,
        select {
          padding: 10px;
        }
        select:focus { 
          outline: 0;
        }
        input,
        .optgroup {
          color: #a9a9a9;
          option {
            color: black;
          }
        }
        .optgroup,
        option {
          background-color: #f0f0f0;
          border: none;
        }
        .form-input,
        select {
          width: 450px;
          height: 40px;
          // padding-left: 10px;
          .loggedinUser::before {
            content: '<i class="fas fa-check"></i>'
          }
        }
        .payment-input,
        .time-range-input {
          width: auto;
        }
        .description-label {
          vertical-align: top;
          padding-top: 5px;
        }
        textarea {
          resize: none;
          width: 450px;
          height: 100px;
          padding-left: 10px;
          padding-top: 5px;
          font-family: 'Roboto', sans-serif;
          font-size: 13.7px;
        }
        .additional-text {
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px;
        }
        .information-text {
          font-style: italic;
          font-size: 10px;
          padding: 0;
          color: #a9a9a9;
          display: inline-block;
        }
        .description-information,
        .category-information {
          margin-left: 120px;
          width: 450px;
        }
        .description-information {
          position: relative;
          .information-text:last-child {
            float: right;
            padding-right: 2px;
          }
        }
        .date-input {
          width: 150px;
          // height: 30px;
          // padding-left: 10px;
        }
        .number-hour-input {
          width: 90px;
          // height: 30px;
          // padding-left: 10px;
        }
      }
      .payment-description,
      .time-indication-description {
        display: inline-block;
        margin-right: 15px;
      }
      .increase-space {
        padding-top: 10px;
      }
      .payment-group,
      .starts-on-group {
         ul {
          display: inline-block;
          padding-left: 0;
          margin: 0;
          li {
            list-style-type: none;
            display: inline-block;
          }
        }
      }
      .has-error {
        label,
        input {
          color: #f39fb6;
        }
        input {
          border-style: solid;
          border-color: #f39fb6;
        }
        textarea {
          border-color: #f39fb6;
        }
        .has-error-popup {
          color: #ffffff;
          width: 170px;
          background-color: #f39fb6;
          text-align: center;
          display: inline-block;
          padding: 5px;
          margin-left: 20px;
          border-radius: 5px;
          position: relative;
          .has-error-message {
            margin: 0;
          }
          ::after {
            content: "";
            position: absolute;
            right: 100%;
            top: 50%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #f39fb6 transparent transparent;
          } 
        }
      }
      .event-description-group {
        .has-error-popup {
          vertical-align: top;
          padding-top: 5px;
        }
      }
    }
    .when-section .increase-space {
      .starts-on-group {
        display: inline-block;
      }
      .number-hour-input {
        margin-right: 10px;
      }
    }

    .display-flex {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
      .submit-button {
        background-color: #ff8e1d;
        border-color: #ff8e1d;
        padding: 15px 40px;
        border-style: solid;
        color: #ffffff; //make mixin
        text-transform: uppercase;
        cursor: pointer;
      }
      .is-disabled {
        background-color: #ffc994;
        border-color: #ffc994;
        pointer-events: none;
      }
    }
}